body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff0f5;
  margin: 100px;
  color: #ff69b4;
  text-align: center;
}


 h1 {
  color: #ff69b4;
  font-size: 36px;
}

p {
      font-size: 20px;
      margin-top: 20px;
    }
